<extend name="./admin/Home/View/Common/base.html"/>

<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/css/dataTables.bootstrap.css">
    <style type="text/css">
        #tableContainer2{
            width: 100%;
            /*overflow: auto;*/
        }
        .table_li{
            margin-bottom: 20px;
            width: 100%;
        }
        .table_li p{
            text-align: left;
            font-size: 16px;
            font-weight: bold;
            text-indent: 2em;
        }
        /*.table_li table tr td{
        	color: #333 !important;
        }*/
    </style>
</block>

<block name="titleBlock">
    <h3 id="Title"></h3>
    <h4 id="bacteria_name"></h4>
</block>

<block name="body">

<div class="con con_1">
  <div class="con_bt">
    <h3><strong>Submission Results</strong></h3>
  </div>
  <div id="crisprArea">
      <div class="con con_2" style="border-bottom: 1px solid #aa8282">
          <div class="con_bt">
            <h3>Visualization of predicted CRISPR-Cas system</h3>
          </div>
          <div class="page_cas">
                <div class="col-md-8 col-md-offset-2">
                    <div class="welcome-img" id="ringGraph" style="min-width: 400px; height: 480px; background-color: #fff; padding: 0; position: relative;">

                    </div>
                </div>
          </div>
    </div>
    <div class="a-hide con con_2" id="LineGraph">
        <!-- <div class="con_bt"> -->
            <!-- <h3>Cas Protein</h3> -->
          <!-- </div> -->
        <div class="page_cas" id="LineItem">
        </div>
    </div>
    <div class="a-hide con con_2" id="phageInteraction" style="width: 100%; text-align: center;">
        <div class="con_bt">
            <h3>Interacting Phages based on spacer-protospacer matching</h3>
          </div>
        <div class="page_cas" id="phageItem">
        </div>
    </div>
  </div>

  <div id="interactionArea" class="a-hide">
        <div class="con con_2" style="border-bottom: 1px solid #aa8282">
            <div class="con_bt">
                <h3>Interaction</h3>
              </div>
            <div class="page_cas">
                <div class="servc-grids">
                    <table class="table table-bordered a-hide" id="table">
                        <thead>
                        <tr>
                            <th>Bacteria ID</th>
                            <th>Bacteria Name</th>
                            <th>Species</th>
                            <th>Genus</th>
                            <th>Phage ID</th>
                            <th>Phage Name</th>
                            <th>Spacer ID | Start Position | Length</th>
                            <th>Mismatch</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div id="tip" class="a-hide" style="padding: 20px; text-align: center; font-size: 20px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="classificationArea" class="a-hide">
        <div class="con con_2" style="border-bottom: 1px solid #aa8282">
            <div class="con_bt">
                <h3>Classification</h3>
            </div>
            <div class="page_cas">
                <div class="servc-grids">
                    <div id="tableContainer2">
                        
                    </div>
                    <div id="tip3" class="a-hide" style="padding: 20px; text-align: center; font-size: 20px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="selftargetArea" class="a-hide">
        <div class="con con_2">
            <div class="con_bt">
                <h3>Self-Targeting</h3>
              </div>
            <div class="page_cas">
                <div class="servc-grids">
                    <table class="table table-bordered a-hide" id="table2">
                        <thead>
                        <tr>
                            <th>organism</th>
                            <th>spacer accession</th>
                            <th>spacer start</th>
                            <th>spacer end</th>
                            <th>proto-spacer accession</th>
                            <th>proto-spacer start</th>
                            <th>proto-spacer end</th>
                            <th>identity</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div id="tip2" class="a-hide" style="padding: 20px; text-align: center; font-size: 20px;"></div>
                </div>
            </div>
        </div>
    </div>

</div>

</block>

<block name="script">
<script type="text/javascript" src="__PUBLIC__/js/lsLine.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ls.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/lsTest.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.dataTables.js"></script>
<script src="__PUBLIC__/js/dataTables.bootstrap.js"></script>
<script>


    var urls = location.href.split("/");
    var pid = urls[urls.length-1];

    var logo = 0, laga = 0, laga2 = 0, laga3 = 0, tableFlag = 0;

    $("#Title").html(pid);
    var ncbi = $("<a class='link' href='https://www.ncbi.nlm.nih.gov/nuccore/"+pid+"' target='_blank'>ncbi</a>");
    $("#Title").append(ncbi);

    $(document).ready(function() {

        $.ajax({
            url: "__URL__/getNameById",
            type: "POST",
            data: {
                pid: pid
            },
            success: function(data) {
                data = eval(data);
                var name = data[0]['name'].split(" - ")[1];
                $("#bacteria_name").html(name);
            },
            error: function() {
                console.log("get name by id error!");
            }
        });


        /**
         * 获取环形图数据
         */
        $.ajax({
            url: "__URL__/handleGraph",
            type: "POST",
            data: {
                "pid": pid,
            },
            success: function(data) {
                data = eval(data);
                if ( data ) {
                    $("#ringCon").html(data['title']);
                    var objArr = ls.init("ringGraph", data);

                    var crisprone = $("<a class='link' href='http://omics.informatics.indiana.edu/CRISPRone/crisprone-view.php?col=complete&name="+pid+"&id="+pid+".1&what=summary' target='_blank' style='position: absolute; left: 170px; top: 5px;'>CRISPRone</a>")
                    $("#ringGraph").append(crisprone);

                    if ( data.link.url_phaster ) {
                        var phaster = $("<a class='link' href='"+data.link.url_phaster+"' target='_blank' style='position: absolute; left: 170px; top: 45px;'>PHASTER</a>");
                        $("#ringGraph").append(phaster);
                    }

                    if ( data.link.url_islangviewer ) {
                        var viewer = $("<a class='link' href='"+data.link.url_islangviewer+"' target='_blank' style='position: absolute; left: 170px; top: 25px;'>IslangViewer</a>");
                        $("#ringGraph").append(viewer);
                    }

                    var layer = $("<div style='position: absolute; width: 100%; right: 100%; '></div>")
                    AddClickEvent(objArr);

                } else {
                    console.log("error");
                }

            },
            error: function() {
                alert("error!");
            }
        });


        /**
         * 获取self-target表中的数据
         */
        $.ajax({
            url: "__URL__/getGraphSelftarget",
            type: "POST",
            data: {
                "pid": pid,
            },
            success: function(data) {
                data = eval(data);
                if ( data.data ) {
                	$("#selftargetArea").removeClass("a-hide");
                    $("#tip2").addClass("a-hide");
                    $("#tip2").html("There is no data returned");
                    $("#table2").removeClass("a-hide");
                    $("#table2").DataTable({
                        "ajax": {
                            url: "__URL__/getGraphSelftarget",
                            type: "POST",
                            data: {
                                "pid": pid,
                            }
                        },
                        "columns": [
                            { "data": "organism"},
                            { "data": "spacer_accession"},
                            { "data": "spacer_start"},
                            { "data": "spacer_end"},
                            { "data": "proto_spacer_accession"},
                            { "data": "proto_spacer_start"},
                            { "data": "proto_spacer_end"},
                            { "data": "identity"},
                        ]
                    });
                    laga2 = 1;
                } else {
                	console.log("getGraphSelftarget data error");
                }
            },
            error: function() {
            	console.log("getGraphSelftarget error");
            }
        });


        /**
         * 获取interaction数据
         */
        $.ajax({
            url: "__URL__/getGraphInteraction",
            type: "POST",
            data: {
                "pid": pid,
            },
            success: function(data) {
                data = eval(data);
                if ( data.data ) {
                	$("#interactionArea").removeClass("a-hide");
                    $("#tip").addClass("a-hide");
                    $("#tip").html("There is no data returned");
                    $("#table").removeClass("a-hide");
                    $("#table").DataTable({
                        "ajax": {
                            url: "__URL__/getGraphInteraction",
                            type: "POST",
                            data: {
                                "pid": pid,
                            }
                        },
                        "columns": [
                            { "data": "bacteria_id"},
                            { "data": "bacteria_name"},
                            { "data": "specie"},
                            { "data": "genus"},
                            { "data": "phage_id"},
                            { "data": "phage_name"},
                            { "data": "spacer_id"},
                            { "data": "missmatch"},
                        ]
                    });
                    laga = 1;
                } else {
                    console.log("getGraphInteraction data error");
                }
            },
            error: function() {
                console.log("getGraphInteraction error");
            }
        });

    });

    // classificationPanel Ajax
    $.ajax({
        url: "__URL__/getClassification",
        type: "POST",
        data: {
            "pid": pid,
        },
        success: function(data) {
            data = eval(data);
            if ( data ) {
                $("#classificationArea").show();
                for ( var i=0; i<data.length; i++ ) {
                    var li = $('<div class="table_li"></div>');
                    data[i]['one'] = data[i]['one'].replace(data[i]['one'].split(":")[1], '<font color="#f00">' + data[i]['one'].split(":")[1] + '</font>');
                    li.append('<p>'+data[i]['one']+'</p>');
                    data[i]['two'] = data[i]['two'].replace(data[i]['two'].split(":")[1], '<font color="#f00">' + data[i]['two'].split(":")[1] + '</font>');
                    li.append('<p>'+data[i]['two']+'</p>');
                    data[i]['three'] = data[i]['three'].replace(data[i]['three'].split(":")[1], '<font color="#f00">' + data[i]['three'].split(":")[1] + '</font>');
                    li.append('<p>'+data[i]['three']+'</p>');
                    var table = $('<div class="col-sm-12"><table class="table table-bordered" id="table4'+i+'"  style="width: 100%;"></table></div>');
                    li.append(table);
                    $("#tableContainer2").append(li);
                    var dataset = new Array();
                    for ( var k=0; k<data[i]['table'].length; k++ ) {
                        if ( data[i]['table'][k]['cas_name'] ) {
                            var set = new Array();
                            set[0] = data[i]['table'][k]['cas_location'];
                            set[1] = data[i]['table'][k]['cas_name'];
                            set[2] = data[i]['table'][k]['cas_profile'];
                            set[3] = data[i]['table'][k]['sub_type'];
                            set[4] = data[i]['table'][k]['e_value'];
                            dataset.push(set);
                        }
                    }
                    console.log(dataset);
                    $("#table4"+i).DataTable({
                        data: dataset,
                        columns: [
                            {"title": "Cas Location"},
                            {"title": "Cas Name"},
                            {"title": "Cas Profile"},
                            {"title": "(sub)types"},
                            {"title": "E-Value"}
                        ]
                    });
                    $(".table_li").css({"height": "auto"});
                    $("#tableContainer2").css({"height": "auto"});
                }
            } else {
                console.log('data of getClassification is null');
            }
            laga3 = 1;
        },
        error: function() {
            $("#tip3").removeClass("a-hide");
            $("#tip3").html("There is no data returned");
            // $("#table3").addClass("a-hide");
        }
    });


    /**
     * 环上的点击事件
     * @param {[type]} arr [description]
     */
    function AddClickEvent(arr) {
        arr.forEach(function(curObj, index, objArr) {
            var _this = curObj;
            $("#LineGraph").removeClass("a-hide");
            // add areas for LineItem
            $("#LineItem").append('<div class="servc-grids">\
            							<h3 style="text-align: center; color: #7D0043;" id="lineGraphTitle'+index+'"><font color="#f00">'+(index+1)+'</font> : '+_this.data.startPos+' - '+(parseInt(_this.data.startPos)+parseInt(_this.data.length))+'</h3>\
						                <div id="ringLineGraph'+index+'" style="height: 200px;"></div>\
						                <div id="detailMsg'+index+'" style="text-align: center;"></div>\
						            </div>');
            getLineGraph(_this.data.id, index, _this.data.startPos, (parseInt(_this.data.startPos)+parseInt(_this.data.length)));
        });
    }

    // 线性图形
    function getLineGraph(id, index, start, end) {
        id = parseInt(id);
        $.ajax({
            url: "__URL__/getLineData",
            type: "POST",
            dataType: "JSON",
            data: {
                "id": id,
                "pid": pid,
            },
            success: function(data) {
                data = eval(data);
                var ringLineGraphName = "#ringLineGraph" + index;
                console.log(data);
                if ( data ) {

                    // 标题 长度范围
                    // var start = parseInt(data['one']['spacers'][0]['startPos']);
                    // var len = data['one']['spacers'].length;
                    // var end = parseInt(data['one']['spacers'][len-1]['startPos']) + parseInt((data['one']['spacers'][len-1]['len']);
                    var min = start, max = end;
                    if ( data['one']['protein'] ) {
                        for ( var i=0; i<data['one']['protein'].length; i++ ) {
                            if ( parseInt(data['one']['protein'][i]['startPos']) < min ) {
                                min = parseInt(data['one']['protein'][i]['startPos']);
                            }
                            if ( parseInt(data['one']['protein'][i]['endPos']) > max ) {
                                max = parseInt(data['one']['protein'][i]['endPos']);
                            }
                        }
                        $("#lineGraphTitle"+index).html('<font color="#f00">'+(index+1)+'</font> : ' + min + '-' + max);
                    }

                    $("#selfTarget").html("");
                    checkFlag = 0;
                    if ( data['exists']['exist'] ) {
                        $("#phageInteraction").removeClass("a-hide");
                        $("#phageItem").append('<div class="servc-grids">\
                        									<h3 style="text-align: center; color: #7D0043;"><font color="#f00">'+(index+1)+'</font> : '+start+' - '+end+'</h3>\
											                <div id="selfTarget'+index+'" style="height: 300px;"></div>\
											                <div id="selfMsg'+index+'"></div>\
											            </div>');
                        lsArrow.init("selfTarget"+index, data['one']['spacers'], data['exists']['data']);
                    }
                    var lineArr = lsLine.init("ringLineGraph"+index, data['one']);
                    if ( lineArr ) {
                        var protein = [], spacer = [], msg1="", msg2="", msg3="", msg4="";
                        for ( var i=0; i<lineArr.length; i++ ) {
                            if ( lineArr[i].type ) {
                                spacer.push(lineArr[i].data);
                            } else {
                                protein.push(lineArr[i].data);
                            }
                        }
//                        check cas protein info: 一点就出来那个cas蛋白的信息
//                        check crispr locus info: 一点就出来那个repeat+spacer信息
//                        check cas protein sequences:一点就出蛋白序列信息
//                        check spacer sequences: 一点就出spacer信息


                        if ( protein.length ) {
                            msg1 = "<a class='checkLink' href='__URL__/getProteinInfo/pid/"+pid+"/id/"+data['one']['id']+"' target='_blank'>check cas locus and (sub)type</a>";                            msg4 = "<a class='checkLink' href='__URL__/getProtein/pid/"+pid+"/id/"+data['one']['id']+"' target='_blank'>check cas protein sequences</a>";
                        }
                        if ( spacer.length ) {
                            msg2 = "<a class='checkLink' href='__URL__/getSpacer/pid/"+pid+"/id/"+data['one']['id']+"' target='_blank'>check spacer sequences</a>";
                        }
                        if ( data['one']['repeat_spacer'] ) {
                            msg3 = "<a class='checkLink' href='__URL__/getRepeatSpacerInfo/pid/"+pid+"/id/"+data['one']['id']+"' target='_blank'>check crispr locus info</a>";
                        }
                        var detailName = "#detailMsg" + index;
                        $(detailName).html(msg1+msg3+msg4+msg2);
                    }
                } else {
                    $(ringLineGraphName).html("获取不到任何数据");
                }
            },
            error: function() {
                alert("数据获取失败！");
            }
        });
    }
</script>
</block>