<!DOCTYPE html>
<html>
<head>
    <title>CRISPRminer</title>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- //Custom Theme files -->
    <link href="__PUBLIC__/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	
    <link href="__PUBLIC__/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="__PUBLIC__/css/addStyle.css" type="text/css" rel="stylesheet" media="all">
    <block name="css"></block>
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/102397/46972/5a0d6ef5f629d80d6c63ae9c.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css">


    <!--js-->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
    <script src="__PUBLIC__/js/modernizr.custom.js"></script>
</head>
<body>
<!--header-->
<div class="header">
  <div class="m_box">
    <h1><img src="__PUBLIC__/images/logo.png"/></h1>
    <ul>
      <li><a href="__MODULE__/Index/index">Prediction</a></li>
      <li><a href="__MODULE__/Crispr/crispr">CRISPR-cas</a></li>
      <li><a href="__MODULE__/Index/classification">Classification</a></li>
      <li><a href="__MODULE__/Index/selfTarget">Self-targeting</a></li>
      <li><a href="__MODULE__/Index/interaction">Interaction</a></li>
      <li><a href="__MODULE__/Index/antiCrispr">Anti-CRISPR</a></li>
      <li><a href="__MODULE__/Index/help">Help<img src="__PUBLIC__/images/nav_ico_3.png"/></a></li>
    </ul>
  </div>
</div>
<!--banner-->
<!--banner-->
<div class="banner" style="background-image:url(__PUBLIC__/images/banner_3.jpg); background-color: #47709C;">
  <div class="m_box">
    <block name="titleBlock"></block>
  </div>
</div>
<!--banner_bottom_br-->
<div class="banner_bottom_br"></div>
<!--//banner-->

<block name="body"></block>

<!--footer-->
<div class="footer">
    <div class="m_box">
    <ul>
      <li class="first"><a href="index">Prediction</a></li>
      <li><a href="__MODULE__/Index/crispr">CRISPR-cas</a></li>
      <li><a href="__MODULE__/Index/classification">Classification</a></li>
      <li><a href="__MODULE__/Index/selfTarget">Self-targeting</a></li>
      <li><a href="__MODULE__/Index/interaction">Interaction</a></li>
      <li><a href="__MODULE__/Index/antiCrispr">Anti-CRISPR</a></li>
      <li><a href="__MODULE__/Index/help">Help</a></li>
    </ul>
    <div class="footer_b">
      <h3>
        <em>(C) Copyright HIT-NIC 2017.</em>
        <em>All rights reserved HIT Center for Life Sciences, School of Life Science and Technology, Harbin Institute of Technology, Harbin 150080, China</em>
        <em>Last modified April 30, 2018 08:50:01 GMT</em>
        <img src="__PUBLIC__/images/logo.png"/>
      </h3>
      <!-- <span>SUPPORT BY 灵感科技</span> </div> -->
  </div>
</div>
<!--//footer-->

<block name="script"></block>

</body>
</html>
