<extend name="./admin/Home/View/Common/base.html"/>

<block name="home">
    <li><a href="__MODULE__/Index/index" class="active">Home</a></li>
</block>

<block name="body">
    <script type="text/javascript" src="//ra.revolvermaps.com/0/0/0.js?i=0ckfmvtd27b&amp;d=3&amp;p=0&amp;b=0&amp;w=293&amp;g=2&amp;f=arial&amp;fs=12&amp;r=0&amp;c0=362b05&amp;c1=375363&amp;c2=000000&amp;ic0=0&amp;ic1=0" async="async"></script>
</block>

<block name="script">
    <script src="__PUBLIC__/js/bootstrap.js"></script>
</block>