<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Custom Theme files -->
    <link href="__PUBLIC__/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="__PUBLIC__/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!--js-->
    <script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
    <script src="__PUBLIC__/js/modernizr.custom.js"></script>
</head>
<body>
<!--banner-->
<div class="banner">
    <div class="banner-info">
        <div class="container">
            <div class="logo">
                <div class="ribbon">
                    <div class="ribbon-fold"><h1> <a href="__URL__/index">LS</a></h1></div>
                </div>
                <h2>Discover CRISPR System Between Bacteria And Phage</h2>
            </div>
            <!--navigation-->
            <div class="top-nav">
                <nav class="navbar navbar-default" id="a-menu1">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav  cl-effect-14">
                            <li><a href="__SELF__" class="active">Home</a></li>
                            <li><a href="__URL__/prediction">Prediction</a></li>
                            <li><a href="__URL__/crispr">CRISPR</a></li>
                            <li><a href="__URL__/classification">Classification</a></li>
                            <li><a href="__URL__/selfTarget">Self-targeting</a></li>
                            <li><a href="__URL__/interaction">Interaction</a></li>
                            <li><a href="__URL__/antiCrispr">Anti-CRISPR</a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </nav>
            </div>
            <!--navigation-->
        </div>
    </div>
</div>
<!--//banner-->
<!--banner-bottom-->
<div class="banner-bottom">
    <div class="container">
        <!--welcome-->
        <div class="welcome">
            <h3 class="title">Introduction</h3>
            <p></p>
            <div class="welcome-info">
                <div class="col-md-6 welcome-grids">
                    <div class="welcome-img">
                        <img src="__PUBLIC__/images/CRISPR-Cas-adaptive-immune-system.png" class="img-responsive zoom-img" alt=""/>

                    </div>
                    <p><strong>The Three Stages of CRISPR Immunity </strong></p>
                </div>
                <div class="col-md-6 welcome-grids" style="text-align: left;">
                    <p>Many bacterial and archaeal genomes have been sequenced, and a large fraction of them have CRISPR systems, ranging from deadly human pathogens to archaea living in the harshest environments on earth. Some CRISPR systems have been studied very well, and more is being discovered about CRISPR every day. CRISPRkb (CRISPR knowledge base) is a tool to collect this growing pool of information and generate versatile and useful annotations. These are some of the annotations we include: </p>
                    <p>(1)CRISPR system annotation</p>
                    <p>(2)CRISPR system classification</p>
                    <p>(3)Spacer self-matches to host genome</p>
                    <p>(4)inferring phage and bacteria infection networks</p>
                    <p>(5)Phage genome content near spacer matches</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <p></p>
        </div>
        <!--//welcome-->
    </div>
</div>
<!--//banner-bottom-->
<!--services-->
<div class="services">
    <div class="container">
        <h3 class="title">Services</h3>
        <div class="servc-grids">
            <div class="col-md-3 servc-grid">
                <div class="servc-icon hi-icon-effect-8">
                    <a href="#" class="hi-icon hi-icon-archive"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span></a>
                </div>
                <h4>Lorem ipsum dolor </h4>
                <p>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod </p>
            </div>
            <div class="col-md-3 servc-grid">
                <div class="servc-icon hi-icon-effect-8">
                    <a href="#" class="hi-icon hi-icon-archive"><span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span></a>
                </div>
                <h4>Lorem ipsum dolor </h4>
                <p>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod </p>
            </div>
            <div class="col-md-3 servc-grid">
                <div class="servc-icon hi-icon-effect-8">
                    <a href="#" class="hi-icon hi-icon-archive"><span class="glyphicon glyphicon glyphicon-fire" aria-hidden="true"></span></a>
                </div>
                <h4>Lorem ipsum dolor </h4>
                <p>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod </p>
            </div>
            <div class="col-md-3 servc-grid">
                <div class="servc-icon hi-icon-effect-8">
                    <a href="#" class="hi-icon hi-icon-archive"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a>
                </div>
                <h4>Lorem ipsum dolor </h4>
                <p>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--//services-->

<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >手机网站模板</a></div>
<!--footer-->
<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-left">
            <h4>Address</h4>
            <ul>
                <li>New York Restaurant</li>
                <li>3926 Anmoore Road</li>
                <li>New York, NY 10014</li>
                <li>718-749-1714</li>
            </ul>
        </div>
        <div class="col-md-3 footer-left">
            <h4>Popular</h4>
            <ul>
                <li><a href="#">Proin placerat</a></li>
                <li><a href="#">Ipsum et rutrum</a></li>
                <li><a href="#">Proin semper utr</a></li>
                <li><a href="#">ligula sit amet</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-left">
            <h4>Details</h4>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-right">
            <p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
            <div class="icons">
                <ul>
                    <li><a href="#" class="twitter"> </a></li>
                    <li><a href="#" class="twitter facebook"> </a></li>
                    <li><a href="#" class="twitter chrome"> </a></li>
                    <li><a href="#" class="twitter pinterest"> </a></li>
                    <li><a href="#" class="twitter linkedin"> </a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--//footer-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="__PUBLIC__/js/bootstrap.js"></script>
</body>
</html>